<article class="movie">
  <h2><%= @user.name %></h2>
  <h3><%= @user.email %></h3>
  <% if current_user?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete', @user, :method => :delete, :data => {:confirm => 'Are you sure?'} %>
  <% end %>
</article>