.field_with_errors {
  background-color: #ffe8e0;
  margin: -0.3846em -0.3846em 1.1154em;
  padding: 0.3846em;
  color: red;
}

section#errors {
  background-color: #ffe8e0;
  margin: -0.3846em -0.3846em 1.1154em;
  padding: 0.3846em;
  color: red;
}