@import "colors";

.page-header {
  padding: 1em;
  background: $appfolio-blue;
  color: $light-silver;
  border-bottom: 3px solid darken($appfolio-blue, 10%);
  width: 100%;

  .title-part {
    text-align: center;
    width: 90%;
    font-style: italic;
  }

  .session-info {
    width: 10%;
  }
}

footer#page-footer {
  text-align: center;
  padding: 5px;
  background: $light-silver;
  color: $appfolio-blue;
  border-top: 3px solid darken($light-silver, 15%);
}

.big-panel {
  width: 100%;
  .main-panel {
    padding-left: 2em;
    padding-bottom: 2em;
    margin: 2em 2em;
    border-radius: 5px;
    background-color: lightblue;
    width: 80%;
    .form-panel {
      width: 30%;
      background-color: #d6e6e6;
      border-radius: 5px;
      padding: 10px 10px;
      width: 25%;
      overflow: hidden;
    }
  }

  .input input {
    padding: 7px;
    width: 20em;
  }

  .input .check_boxes {
    width: 1em;
  }

  .page-sidebar {
    vertical-align: text-top;
    background: #F0F0F0;
    width: 20%;
    border-radius: 5px;
  }
}

.flash {
  padding: 0.5em;
  font-size: 150%;

  .notice {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #e0f0e0;
    color: #409040;
  }

  .alert {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #ffe8e0;
    color: red;
  }
}

.page-sidebar {
  li {
    margin-top: 5px;
  }
}