@import "colors";

header#page-header {
  padding: 1em;
  text-align: center;
  background: $appfolio-blue;
  color: $light-silver;
  border-bottom: 3px solid darken($appfolio-blue, 10%);

  h1 {
    font-style: italic;
  }
}

footer#page-footer {
  text-align: center;
  padding: 5px;
  background: $light-silver;
  color: $appfolio-blue;
  border-top: 3px solid darken($light-silver, 15%);
}

aside#page-sidebar {
  float: right;
  background: #F0F0F0;
  width: 200px;
  border-radius: 5px;
}

.main-panel {
  padding-left: 2em;
  padding-bottom: 2em;
  padding-top: 0.5em;
  margin: 2em 2em;
  border-radius: 5px;
  background-color: lightblue;
  .form-panel {
    width: 23%;
    background-color: #d6e6e6;
    border-radius: 5px;
    padding: 10px 10px;
    input.string {
      width: 20em;
    }
  }
}

.flash {
  padding: 0.5em;
  font-size: 150%;

  .notice {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #e0f0e0;
    color: #409040;
  }

  .alert {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #ffe8e0;
    color: red;
  }
}