@import "colors";

article.movie {
  img {
    width: 90px;
    height: 133px;
    float: left;
    margin: 0 15px;
    border: 3px solid $appfolio-blue;
  }
}

article.movie {
  th {
    float: left;
    margin: 0 15px;
  }

  label {
    font-weight: bolder;
  }
}

.input {
  label {
    font-weight: bolder;
    display: block;
  }
}

.button {
  font-weight: bolder;
  background-color: lightcyan;
}

label.required {
  abbr {
    color: red;
  }
}
